.mt-3 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: .5rem;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.column {
  flex: 1 0 50%;
}

.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
